/* 头部 */
.header{   
	width: 100%;
	height: 60px;
	background-color: #4CD964;
}
.header a{    /* 图标 */
	position: relative;
	top: 8px;
	color: #000000;
}
.header h1{    /* 文字 */
	padding-top: 9px;
	font-size: 20px;
}
/* 收藏 */
.mycollection{
	width: 92%;
	position: relative;
	left: 4%;
	margin-top: 8px;
	height: 100px;
	list-style-type: none;
}
.mycollection img{
	position: relative;
	top: 5px;
	width: 160px;
	height: 90px;
}
.miaosu{
	position: relative;
	left: 40%;
	top: -90px;
}
.miaosu h5{
	color: #000000;
	font-size: 18px;
}
.miaosu h6{
	color: #6D6D72;
	font-size: 16px;
}